<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Mokkivarausjarjestelma.Properties.Settings.asiakkaatConnectionString"
            connectionString="server=localhost;user id=root;database=asiakkaat"
            providerName="MySql.Data.MySqlClient" />
        <add name="Mokkivarausjarjestelma.Properties.Settings.asiakkaatConnectionString1"
            connectionString="server=localhost;user id=newuser;password=uusi1234;database=asiakkaat"
            providerName="MySql.Data.MySqlClient" />
        <add name="Mokkivarausjarjestelma.Properties.Settings.TietokantaConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Tietokanta.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>